@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eudoxus-Sans";
  src: url("/fonts/EudoxusSansGX.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Oranienbaum";
  src: url("/fonts/Oranienbaum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Eudoxus-Sans", sans-serif;
}

h1 {
  font-family: "Oranienbaum", serif;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .transform-center {
    transform-origin: center;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .transformY-180 {
    transform: rotateY(180deg);
  }
}
